nav {
  display: flex;
  justify-content: right;
  background-color: #e5d2ff;
  border-radius: 10px;
  padding: 10px;
}

nav button {
  background-color: lightblue;
  border-color: transparent;
  border-radius: 20px;
  font-size: 1.5em;
  cursor: pointer;
  margin: 5px;
}

nav a {
  list-style: none;
  margin: 10px;
  padding: 0px;
  display: flex;
  color: #333;
  text-decoration: none;
  font-size: 1em;
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
}

.title h1 {
  font-size: 4em;
  margin: 0;
}

.title p {
  font-size: 1.5em;
  margin: 10px 0;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #000000;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
}

.about-me h2 {
  font-size: 3em;
  margin: 0;
}

.about-me p {
  font-size: 1.2em;
  margin: 10px 0;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
  margin: 20px auto;
  padding: auto;
}

.contact h2 {
  font-size: 3em;
  margin: 0;
}
.contact p {
  font-size: 1.2em;
  margin: 10px 0;
} 

.contact span {
  font-size: 1.2em;
}

.contact button {
  background-color: #e5d2ff;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: #e5d2ff;
  font-size: 1em;
  cursor: pointer;
}

.contact article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
  margin: 20px auto;
}

.contact h3 {
  font-size: 2em;
  margin: 0;
}