nav {
  display: flex;
  justify-content: right;
  background-color: #e5d2ff;
  border-radius: 10px;
  padding: 0px;
}

nav a {
  list-style: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  color: #333;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  font-size: 1em;
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
}

.title img {
  width: 140px;
  height: 150px;
}

.title h1 {
  font-size: 4em;
  margin: 0;
}

.title p {
  font-size: 1.5em;
  margin: 10px 0;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #000000;
  margin: 20px auto;
  max-width: 1200px;
  
}

.about-me h2 {
  font-size: 3em;
  margin: 0;
}

.about-me p {
  font-size: 1.2em;
  margin: 10px 0;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
  margin: 20px auto;
  padding: auto;
}

.contact h2 {
  font-size: 3em;
  margin: 0;
}
.contact p {
  font-size: 1.2em;
  margin: 10px 0;
} 

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.contact label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 1.2em;
}

.contact span {
  font-size: 1.2em;
  margin: 10px;
}

#name {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  width: 200px;
  max-width: 600px;
}

#email {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  width: 200px;
  max-width: 400px;
}

#message {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  max-height: 300px;
}

.contact button.submit {
  background-color: #e5d2ff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 10px;
}
.contact article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
  margin: 20px auto;
}
.contact article p {
  font-size: 1.2em;
  margin: 10px 0;
}
.contact .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

