* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: right;
  background-color: #feecd0;
  border-radius: 10px;
  padding: 0px;
}

nav a {
  list-style: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  color: #333;
  text-decoration: none;
  font-size: 1em;
}

.introduction {
  background-color: #fff9e2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #000000;
}

.introduction img {
  width: 600px;
  height: 600px;
}

.introduction-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  text-align: center;
  padding: 20px;
  color: #000000;
  margin: 100px 20px;
}

.introduction h1 {
  font-size: 4rem;
  margin: 0;
}

.introduction p {
  font-size: 1.5rem;
  margin: 10px 0;
}

.about-me {
  background-color: #ebeccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #000000;
}

#about-me-image img {
  width: 600px;
  height: 600px;
}

#about-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  color: #000000;
}

.about-me h2 {
  font-size: 3rem;
  margin: 0;
}

.about-me p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.projects {
  background-color: #fff9e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
}

.projects h2 {
  font-size: 3rem;
  margin: 0;
}

.projects p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.project-card {
  background-color: #fff9e2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 300px;
  transition: transform 0.2s;
}

.projects div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact {
  background-color: #ebeccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
  padding: auto;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  color: #333;
  margin: 100px 20px;
}

.contact h2 {
  font-size: 3rem;
  margin: 0;
}
.contact p {
  font-size: 1.2rem;
  margin: 10px 0;
} 

.contact form {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px ;
}

.contact label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 1.2rem;
}

.contact span {
  font-size: 1.2rem;
  margin: 10px;
}

#name {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  width: 200px;
  max-width: 600px;
}

#email {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  width: 200px;
  max-width: 400px;
}

#message {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  max-height: 300px;
}

.contact button.submit {
  background-color: #f5f1df;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}
.contact article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
}
.contact article p {
  font-size: 1.2em;
  margin: 10px 0;
}
.contact .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer {
  background-color: #feecd0;
  text-align: center;
  padding: 10px;
  color: #333;
}

